<div class="sidebar_menu" [@onSideNavChange]="sidebarState">
  <mat-nav-list class="menu-list">
    <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
	</div>
    <mat-divider></mat-divider>
    <mat-list-item routerLinkActive="active-list-item" routerLink="Home" title="Home">
      <mat-icon class="icon" [@iconAnimation]="sidebarState">Home</mat-icon>
      <span class="label" [@labelAnimation]="sidebarState">Home</span>
    </mat-list-item>
    <mat-list-item routerLinkActive="active-list-item" routerLink="create-asset" title="create-asset">
    <mat-icon class="icon" [@iconAnimation]="sidebarState">New</mat-icon>
      <span class="label" [@labelAnimation]="sidebarState">Create Asset</span>
    </mat-list-item>
    <mat-list-item routerLinkActive="active-list-item" routerLink="feedback" title="Feedback">
      <mat-icon class="icon" [@iconAnimation]="sidebarState">feedback</mat-icon>
      <span class="label" [@labelAnimation]="sidebarState">Feedback</span>
    </mat-list-item>
  </mat-nav-list>
</div>


